<a href="https://colab.research.google.com/github/Seiris21/2022_snowpack_capstone/blob/main/notebooks/data_ingestion/SnowCast%20Showdown%20Data%20Wrangling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#%%capture
!apt-get update
# Install GDAL and Geopandas
!apt-get install libgdal-dev 
!apt install gdal-bin python-gdal python3-gdal --quiet
!apt install python3-rtree --quiet
!pip install git+git://github.com/geopandas/geopandas.git --quiet

%pip install -U tornado

Ign:1 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:6 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:9 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 6s (42.5 kB/s)
Reading package lists... Done
Reading package lists... Done
Building dependency tree
Reading state information... Done
libgdal-dev is already the newest version (2.2.3+dfsg-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-470
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 67 not upgraded.
Reading package lists...
Building dependency tree...
Reading state information...
gdal-bin is already the newest version (2.2.3+dfsg-2).
python-gdal is already the newest version (2.2.3+dfsg-2).
python3-gdal is already the newest version (2.2.3+dfsg-2).
The following package was automatically installed and is no longer required:
  libnvidia-common-470
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 67 not upgraded.
Reading package lists...
Building dependency tree...
Reading state information...
python3-rtree is already the newest version (0.8.3+ds-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-470
Use 'apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 67 not upgraded.
Requirement already satisfied: tornado in /usr/local/lib/python3.7/dist-packages (6.1)

In [2]:
%pip install "dask[complete]"
%pip install "dask[complete]" --upgrade

Requirement already satisfied: dask[complete] in /usr/local/lib/python3.7/dist-packages (2022.2.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (6.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.2.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (0.11.2)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.0.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (21.3)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2022.2.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.11.3)
Requirement already satisfied: distributed==2022.02.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2022.2.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.3.5)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.21.5)
Requirement already satisfied: bokeh>=2.1.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.3.3)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (6.1)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (5.4.8)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (1.7.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (57.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (2.0.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (2.4.0)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (7.1.2)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (1.0.3)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh>=2.1.1->dask[complete]) (3.10.0.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=2.1.1->dask[complete]) (2.8.2)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh>=2.1.1->dask[complete]) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->dask[complete]) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->dask[complete]) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->dask[complete]) (2021.3)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask[complete]) (0.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh>=2.1.1->dask[complete]) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed==2022.02.0->dask[complete]) (1.0.1)
Requirement already satisfied: dask[complete] in /usr/local/lib/python3.7/dist-packages (2022.2.0)
Requirement already satisfied: pyyaml>=5.3.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (6.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2022.2.0)
Requirement already satisfied: cloudpickle>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.0.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.2.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (21.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (0.11.2)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.3.5)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.11.3)
Requirement already satisfied: bokeh>=2.1.1 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2.3.3)
Requirement already satisfied: distributed==2022.02.0 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (2022.2.0)
Requirement already satisfied: numpy>=1.18 in /usr/local/lib/python3.7/dist-packages (from dask[complete]) (1.21.5)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (6.1)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (57.4.0)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (5.4.8)
Requirement already satisfied: click>=6.6 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (7.1.2)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (2.4.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (2.0.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (1.7.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed==2022.02.0->dask[complete]) (1.0.3)
Requirement already satisfied: pillow>=7.1.0 in /usr/local/lib/python3.7/dist-packages (from bokeh>=2.1.1->dask[complete]) (7.1.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from bokeh>=2.1.1->dask[complete]) (2.8.2)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from bokeh>=2.1.1->dask[complete]) (3.10.0.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->dask[complete]) (2.0.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->dask[complete]) (3.0.7)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->dask[complete]) (2021.3)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask[complete]) (0.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->bokeh>=2.1.1->dask[complete]) (1.15.0)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed==2022.02.0->dask[complete]) (1.0.1)

In [3]:
#%%capture
%pip install pystac_client planetary_computer rasterio xarray-spatial

Requirement already satisfied: pystac_client in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: planetary_computer in /usr/local/lib/python3.7/dist-packages (0.4.5)
Requirement already satisfied: rasterio in /usr/local/lib/python3.7/dist-packages (1.2.10)
Requirement already satisfied: xarray-spatial in /usr/local/lib/python3.7/dist-packages (0.3.2)
Requirement already satisfied: requests>=2.25 in /usr/local/lib/python3.7/dist-packages (from pystac_client) (2.27.1)
Requirement already satisfied: pystac~=1.2.0 in /usr/local/lib/python3.7/dist-packages (from pystac_client) (1.2.0)
Requirement already satisfied: typing-extensions>=3.7 in /usr/local/lib/python3.7/dist-packages (from pystac~=1.2.0->pystac_client) (3.10.0.2)
Requirement already satisfied: python-dateutil>=2.7.0 in /usr/local/lib/python3.7/dist-packages (from pystac~=1.2.0->pystac_client) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.0->pystac~=1.2.0->pystac_client) (1.15.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25->pystac_client) (1.24.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25->pystac_client) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25->pystac_client) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.7/dist-packages (from requests>=2.25->pystac_client) (2.0.12)
Requirement already satisfied: click>=7.1 in /usr/local/lib/python3.7/dist-packages (from planetary_computer) (7.1.2)
Requirement already satisfied: pydantic[dotenv]>=1.7.3 in /usr/local/lib/python3.7/dist-packages (from planetary_computer) (1.9.0)
Requirement already satisfied: pytz>=2020.5 in /usr/local/lib/python3.7/dist-packages (from planetary_computer) (2021.3)
Requirement already satisfied: python-dotenv>=0.10.4 in /usr/local/lib/python3.7/dist-packages (from pydantic[dotenv]>=1.7.3->planetary_computer) (0.19.2)
Requirement already satisfied: affine in /usr/local/lib/python3.7/dist-packages (from rasterio) (2.3.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from rasterio) (0.7.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from rasterio) (57.4.0)
Requirement already satisfied: snuggs>=1.4.1 in /usr/local/lib/python3.7/dist-packages (from rasterio) (1.4.7)
Requirement already satisfied: click-plugins in /usr/local/lib/python3.7/dist-packages (from rasterio) (1.1.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from rasterio) (1.21.5)
Requirement already satisfied: attrs in /usr/local/lib/python3.7/dist-packages (from rasterio) (21.4.0)
Requirement already satisfied: pyparsing>=2.1.6 in /usr/local/lib/python3.7/dist-packages (from snuggs>=1.4.1->rasterio) (3.0.7)
Requirement already satisfied: pillow in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (7.1.2)
Requirement already satisfied: numba in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (0.51.2)
Requirement already satisfied: distributed>=2021.03.0 in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (2022.2.0)
Requirement already satisfied: param>=1.6.1 in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (1.12.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (1.3.5)
Requirement already satisfied: pyct<=0.4.6 in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (0.4.6)
Requirement already satisfied: dask in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (2022.2.0)
Requirement already satisfied: xarray in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (0.18.2)
Requirement already satisfied: datashader in /usr/local/lib/python3.7/dist-packages (from xarray-spatial) (0.13.0)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (6.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (2.4.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (1.0.3)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (1.7.0)
Requirement already satisfied: tornado>=5 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (6.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (2.11.3)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (0.11.2)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (2.0.0)
Requirement already satisfied: psutil>=5.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (5.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (21.3)
Requirement already satisfied: cloudpickle>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from distributed>=2021.03.0->xarray-spatial) (2.0.0)
Requirement already satisfied: partd>=0.3.10 in /usr/local/lib/python3.7/dist-packages (from dask->xarray-spatial) (1.2.0)
Requirement already satisfied: fsspec>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from dask->xarray-spatial) (2022.2.0)
Requirement already satisfied: locket in /usr/local/lib/python3.7/dist-packages (from partd>=0.3.10->dask->xarray-spatial) (0.2.1)
Requirement already satisfied: heapdict in /usr/local/lib/python3.7/dist-packages (from zict>=0.1.3->distributed>=2021.03.0->xarray-spatial) (1.0.1)
Requirement already satisfied: datashape>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from datashader->xarray-spatial) (0.5.2)
Requirement already satisfied: colorcet>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from datashader->xarray-spatial) (3.0.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.7/dist-packages (from datashader->xarray-spatial) (1.4.1)
Requirement already satisfied: bokeh>=2.1.1 in /usr/local/lib/python3.7/dist-packages (from dask->xarray-spatial) (2.3.3)
Requirement already satisfied: multipledispatch>=0.4.7 in /usr/local/lib/python3.7/dist-packages (from datashape>=0.5.1->datashader->xarray-spatial) (0.6.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from jinja2->distributed>=2021.03.0->xarray-spatial) (2.0.1)
Requirement already satisfied: llvmlite<0.35,>=0.34.0.dev0 in /usr/local/lib/python3.7/dist-packages (from numba->xarray-spatial) (0.34.0)

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import os
import re
import numpy as np
import pandas as pd
pd.options.mode.chained_assignment = None
import geopandas as gpd
import matplotlib as mpl
import matplotlib.pyplot as plt

from google.colab import files
from datetime import datetime

from pystac_client import Client
import planetary_computer
import xarray
import dask.dataframe as dd
import xrspatial
from datashader.transfer_functions import shade, stack
from datashader.colors import Elevation
from datashader.utils import export_image

# Data Ingestion and Exploration

In [6]:
trainfeatures = pd.read_csv("/content/drive/MyDrive/snowcapstone team spring 2022/Competition_Data/ground_measures_train_features.csv")

In [7]:
trainfeatures.head()

  Unnamed: 0  2013-01-01  2013-01-08  ...  2019-12-17  2019-12-24  2019-12-31
0   CDEC:ADM        5.90        5.90  ...        3.40        3.70        3.40
1   CDEC:AGP       17.52       17.54  ...        0.20         NaN         NaN
2   CDEC:ALP       12.75       13.32  ...       10.74       12.67       12.57
3   CDEC:BCB        4.30        4.42  ...         NaN         NaN         NaN
4   CDEC:BCH        2.88        3.00  ...        4.68        5.04        6.00

[5 rows x 214 columns]

In [8]:
trainfeatures = trainfeatures.melt(id_vars=['Unnamed: 0']).dropna().reset_index(drop = True)
trainfeatures.rename(columns = {'Unnamed: 0':"station_id", "variable":"date", "value":"SWE"}, inplace = True)
trainfeatures.head()

  station_id        date    SWE
0   CDEC:ADM  2013-01-01   5.90
1   CDEC:AGP  2013-01-01  17.52
2   CDEC:ALP  2013-01-01  12.75
3   CDEC:BCB  2013-01-01   4.30
4   CDEC:BCH  2013-01-01   2.88

In [9]:
#These are dates where no stations had information (Discovered after using KNN approach)
#Alternative method: Get all dates of cell_id samples, and compare those dates against what each station has for the interpolation
nan_dates = ['2013-04-03', '2013-04-29', '2013-05-03', '2013-05-25', '2013-06-01', '2013-06-08', '2016-02-08', '2016-03-26', '2016-04-01', '2016-04-03', '2016-04-04',
 '2016-04-07', '2016-04-16', '2016-05-09', '2016-05-27', '2016-06-26', '2017-01-28', '2017-01-29', '2018-03-04', '2018-03-30', '2018-03-31', '2018-04-22', '2018-04-23', 
 '2018-04-25', '2018-04-26', '2018-05-24', '2018-05-28', '2018-06-01', '2018-06-02', '2019-03-09', '2019-03-15', '2019-03-16', '2019-03-17', '2019-03-24', '2019-03-25', 
 '2019-03-29', '2019-04-07', '2019-04-08', '2019-04-17', '2019-04-18', '2019-04-19', '2019-04-21', '2019-04-27', '2019-04-28', '2019-05-01', '2019-05-02', '2019-05-03', 
 '2019-06-05', '2019-06-08', '2019-06-09', '2019-06-10', '2019-06-13', '2019-06-14', '2019-06-24']

In [10]:
#Linear regression implementation, filling in based on nan_dates list
supplement = []

#Iterate through all the unique stations
for station in trainfeatures['station_id'].unique(): #['CDEC:SSM']: #
  #Get subset for this station
  subset = trainfeatures[trainfeatures['station_id']==station].copy()
  #make filler rows with missing dates
  filler = [[station,date,np.nan] for date in nan_dates]
  #Append filler rows to subset and sort on date and reset index
  subset = subset.append(pd.DataFrame(filler, columns=['station_id','date','SWE'])).sort_values(by='date').reset_index(drop=True)
  #print(station,len(subset.index))
  #print(subset.head())
  for date in nan_dates:
    #Find NaN date
    nan_index = subset.index[subset['date'] == date].tolist()[0]
    nan_date = datetime.strptime(date,'%Y-%m-%d')
    
    #There is a conditional needed for stations that stopped reporting before 2019
    try:
      count=0
      #Find older date that HAS value. Sometimes needed because filler inserted NaNs
      while subset.iloc[nan_index-1-count].isnull().any():
        count+=1
      #Older date (nan-1)
      if (nan_index-1-count)>=0:
        older_date = datetime.strptime(subset.iloc[nan_index-1-count]['date'],'%Y-%m-%d')
        older_swe = subset.iloc[nan_index-1-count]['SWE']
      else:
        older_date = datetime.strptime(subset.iloc[nan_index-1]['date'],'%Y-%m-%d')
        older_swe = np.nan
      #print('Older',nan_index-1,older_date,older_swe)
      #print('NaN-inserted',nan_index,nan_date)

      #Newer date is next date that HAS value, otherwise enter except
      counter=0
      while subset.iloc[nan_index+1+counter].isnull().any():
        counter+=1
      #Newer date
      newer_date = datetime.strptime(subset.iloc[nan_index+1+counter]['date'],'%Y-%m-%d')
      newer_swe = subset.iloc[nan_index+1+counter]['SWE']
      #print('newer',nan_index+1+counter,newer_date,newer_swe)
      #print('______________________________')

      #Change per day
      delta_day = (newer_swe-older_swe)/(newer_date-older_date).days

      #Add expected change to older swe
      est_swe = older_swe + (delta_day*(nan_date-older_date).days)

      #Add "entry" row to supplement
      supplement.append([station,date,est_swe])
    #IndexError happens when the last date is actually from the nan list. Because of this, We DEFINITELY need to do some inter-station interpolation
    except IndexError:
      supplement.append([station,date,np.nan])

#Problem with simple linear interpolation: There are large enough gaps that the "missing days" in the data sometimes are the closest dates to themselves

In [11]:
#Add incomplete supplement (testing to see how many knn nans are filled in)
trainfeatures = trainfeatures.append(pd.DataFrame(supplement, columns=['station_id','date','SWE'])).sort_values(by='date').reset_index(drop=True)

In [12]:
trainmeta = pd.read_csv("/content/drive/MyDrive/snowcapstone team spring 2022/Competition_Data/ground_measures_metadata.csv")
trainmeta.head()

  station_id            name  elevation_m   latitude   longitude       state
0   CDEC:ADM   Adin Mountain      1889.76  41.237000 -120.792000  California
1   CDEC:AGP      Agnew Pass      2880.36  37.726631 -119.141731  California
2   CDEC:ALP    Alpha (Smud)      2316.48  38.804192 -120.215652  California
3   CDEC:BCB  Blackcap Basin      3139.44  37.066685 -118.773010  California
4   CDEC:BCH   Beach Meadows      2331.72  36.126095 -118.293457  California

In [13]:
trainfeatures = trainfeatures.merge(trainmeta, how = 'left', on='station_id')
trainfeatures.head()

           station_id        date  SWE  ...   latitude   longitude       state
0            CDEC:ADM  2013-01-01  5.9  ...  41.237000 -120.792000  California
1  SNOTEL:628_UT_SNTL  2013-01-01  9.8  ...  40.658829 -111.636833        Utah
2  SNOTEL:629_CO_SNTL  2013-01-01  3.6  ...  37.847469 -107.726570    Colorado
3  SNOTEL:633_CA_SNTL  2013-01-01  9.4  ...  38.668301 -119.608704  California
4  SNOTEL:637_ID_SNTL  2013-01-01  6.9  ...  43.931999 -115.665878       Idaho

[5 rows x 8 columns]

In [14]:
gridcells = gpd.read_file('/content/drive/MyDrive/snowcapstone team spring 2022/Competition_Data/grid_cells.geojson')
print(gridcells.head())

                                cell_id  ...                                           geometry
0  0003f387-71c4-48f6-b2b0-d853bd4f0aba  ...  POLYGON ((-118.71895 37.07419, -118.71895 37.0...
1  000617d8-8c14-43e2-b708-7e3a69fe3cc3  ...  POLYGON ((-107.07679 37.78042, -107.07679 37.7...
2  000863e7-21e6-477d-b799-f5675c348627  ...  POLYGON ((-119.40167 37.02400, -119.40167 37.0...
3  000ba8d9-d6d5-48da-84a2-1fa54951fae1  ...  POLYGON ((-119.32082 37.43171, -119.32082 37.4...
4  00146204-d4e9-4cd8-8f86-d1ef133c5b6d  ...  POLYGON ((-118.52132 36.65735, -118.52132 36.6...

[5 rows x 3 columns]

In [15]:
traindf = pd.read_csv("/content/drive/MyDrive/snowcapstone team spring 2022/Competition_Data/train_labels.csv")

traindf = traindf.melt(id_vars=["cell_id"]).dropna().reset_index(drop = True)
traindf.rename(columns = {"cell_id":"cell_id", "variable":"date", "value":"SWE"}, inplace = True)

traindf = traindf.merge(gridcells, how = 'left', on='cell_id')


traindf = gpd.GeoDataFrame(traindf, crs ="EPSG:4326")
traindf

                                    cell_id  ...                                           geometry
0      00c4db22-a423-41a4-ada6-a8b1b04153a4  ...  POLYGON ((-121.93492 41.16327, -121.93492 41.1...
1      018cf1a1-f945-4097-9c47-0c4690538bb5  ...  POLYGON ((-120.61440 39.67242, -120.61440 39.6...
2      01be2cc7-ef77-4e4d-80ed-c4f8139162c3  ...  POLYGON ((-119.60829 38.27575, -119.60829 38.2...
3      02c3ec4a-8de4-4284-9ec1-5a942d3d098e  ...  POLYGON ((-107.19357 44.57879, -107.19357 44.5...
4      02cf33c2-c8e2-48b9-bf72-92506e97e251  ...  POLYGON ((-106.60068 40.39461, -106.60068 40.4...
...                                     ...  ...                                                ...
91485  fd4492f2-8aa9-4279-bdc0-73991786943f  ...  POLYGON ((-105.07354 38.87270, -105.07354 38.8...
91486  fde3221a-9ce3-45a9-857f-bd196b07aa05  ...  POLYGON ((-106.10661 39.29804, -106.10661 39.3...
91487  fdeb8912-f9d1-445d-aadb-e943534f67fe  ...  POLYGON ((-107.92120 37.79462, -107.92120 37.8...
91488  fe33672e-7ea7-4c5d-8639-96b2cc7edb0c  ...  POLYGON ((-122.02475 43.89659, -122.02475 43.9...
91489  ff01e8c2-19a2-4a89-af0e-608b8f40ad5f  ...  POLYGON ((-111.37972 44.41861, -111.37972 44.4...

[91490 rows x 5 columns]

In [16]:
from datetime import datetime, timedelta

print(len(traindf.loc[pd.to_datetime(traindf.date) > datetime.strptime("2016-01-01", "%Y-%m-%d"), "region"]))
print(len(traindf.loc[traindf["region"] == "sierras", "region"]))

68670
37017

In [17]:
print(len(traindf))
traindf = traindf.loc[pd.to_datetime(traindf.date) >= datetime.strptime("2016-01-01", "%Y-%m-%d")].reset_index(drop = True)
print(len(traindf["region"]))
traindf.head()

91490
68670

                                cell_id  ...                                           geometry
0  00c4db22-a423-41a4-ada6-a8b1b04153a4  ...  POLYGON ((-121.93492 41.16327, -121.93492 41.1...
1  018cf1a1-f945-4097-9c47-0c4690538bb5  ...  POLYGON ((-120.61440 39.67242, -120.61440 39.6...
2  01be2cc7-ef77-4e4d-80ed-c4f8139162c3  ...  POLYGON ((-119.60829 38.27575, -119.60829 38.2...
3  02c3ec4a-8de4-4284-9ec1-5a942d3d098e  ...  POLYGON ((-107.19357 44.57879, -107.19357 44.5...
4  02cf33c2-c8e2-48b9-bf72-92506e97e251  ...  POLYGON ((-106.60068 40.39461, -106.60068 40.4...

[5 rows x 5 columns]

In [18]:
gdf = gpd.GeoDataFrame(trainmeta, 
                       geometry = gpd.points_from_xy(trainmeta.longitude, trainmeta.latitude),
                       crs = "EPSG:4326")

gdf

             station_id  ...                     geometry
0              CDEC:ADM  ...  POINT (-120.79200 41.23700)
1              CDEC:AGP  ...  POINT (-119.14173 37.72663)
2              CDEC:ALP  ...  POINT (-120.21565 38.80419)
3              CDEC:BCB  ...  POINT (-118.77301 37.06668)
4              CDEC:BCH  ...  POINT (-118.29346 36.12609)
..                  ...  ...                          ...
695  SNOTEL:989_ID_SNTL  ...  POINT (-116.85350 46.80500)
696  SNOTEL:990_WA_SNTL  ...  POINT (-121.25550 48.87930)
697  SNOTEL:992_UT_SNTL  ...  POINT (-110.82770 40.88520)
698  SNOTEL:998_WA_SNTL  ...  POINT (-121.43895 48.85933)
699  SNOTEL:999_WA_SNTL  ...  POINT (-121.69823 48.76292)

[700 rows x 7 columns]

In [19]:
import matplotlib.pyplot as plt

#fig, ax = plt.subplots(figsize = (240,240))
#
#states = gpd.read_file('/content/drive/MyDrive/snowcapstone team spring 2022/Competition_Data/USMap/cb_2018_us_state_20m.shp')
#states = states.to_crs("EPSG:4326")
#states = states[states['STUSPS'].isin(['WA', 'OR', 'CA', 'NV', 'MT', 'ID', 'WY', 'NM', 'CO' ,'UT', 'AZ'])]
#statemap = states.boundary.plot(ax=ax, linewidth=5, zorder = 1)
#
#gpd.GeoDataFrame(traindf["geometry"]).to_crs(states.crs).plot(ax=ax, facecolor="none", edgecolor='grey')
#
#gdf["geometry"].plot(ax = ax, markersize = 200, color = 'red',marker = '*', zorder = 2)
#
#plt.autoscale(False)
#ax.axis("off")
#
#plt.show()

# Adding Station Data

In this section we will take the measurements of ground stations and add those as features to our data

In [20]:
trainfeatures = trainfeatures[['station_id',	'date',	'SWE',	'name']]

### Balltree/KNN approach

In [21]:
from sklearn.neighbors import BallTree

#Adapted from AutoGIS| University of Helsinki
# https://automating-gis-processes.github.io/site/notebooks/L3/nearest-neighbor-faster.html
def get_knearest(src_points, candidates, knn=1):
  '''
  K nearest neighbors for every source point given candidate points
  '''
  #Make candidates BallTree format
  tree = BallTree(candidates,leaf_size=15,metric='haversine')

  #Find closest points
  distances, indices = tree.query(src_points, k=knn)

  #Transpose into arrays
  distances = distances.transpose()
  indices = indices.transpose()

  #neighbor_idx = []
  #neighbor_dist = []
   
  return(indices, distances)
  #Iterate for k neighbors
  #for i in range(knn):
  #  neighbor_idx.append(indices[i])
  #  neighbor_dist.append(distances[i])
  #Return list of lists in order of KNN
  #return(neighbor_idx,neighbor_dist)



  return distances,indices

def nearest_neighbor(left_gdf, right_gdf, return_dist=False, knn=1):
  """
  For each point in left_gdf, find closest point in right GeoDataFrame and return them.

  NOTICE: Assumes that the input Points are in WGS84 projection (lat/lon).
  """
  #Some Nan buffer to KNN search
  knn = knn*3

  left_geom_col = left_gdf.geometry.name
  right_geom_col = right_gdf.geometry.name

  # Ensure that index in right gdf is formed of sequential numbers
  right = right_gdf.copy().reset_index(drop=True)

  # Parse coordinates from points and insert them into a numpy array as RADIANS
  # For left radians, data is in polygon format, so apply meter crs, get centroid, and revert
  left_radians = np.array(left_gdf[left_geom_col].to_crs('epsg:4087').centroid.to_crs("EPSG:4326").apply(lambda geom: (geom.x * np.pi / 180, geom.y * np.pi / 180)).to_list())
  right_radians = np.array(right[right_geom_col].apply(lambda geom: (geom.x * np.pi / 180, geom.y * np.pi / 180)).to_list())


  # Find the nearest points
  # -----------------------
  # closest ==> index in right_gdf that corresponds to the closest point
  # dist ==> distance between the nearest neighbors (in meters)

  closest, dist = get_knearest(src_points=left_radians, candidates=right_radians, knn=knn)

  #return(closest,dist)
    
  closest_points = gpd.GeoDataFrame()
    
  #Loop for knn
  for i in range(knn):
    # Return points from right GeoDataFrame that are closest to points in left GeoDataFrame
    #Loop to return closest starting from 0 idx
    closest_points['station_id_'+str(i)] = right['station_id'].loc[closest[i]].values
    closest_points['elevation_m_'+str(i)] = right['elevation_m'].loc[closest[i]].values

    # Add distance if requested
    if return_dist:
      # Convert to meters from radians
      earth_radius = 6371000  # meters
      closest_points['distance_'+str(i)] = dist[i] * earth_radius

  return closest_points

def inverseDmean(df,power):
  #Formula for inverse Distance Average = ((x1/d1^p)+(x2/d2^p)....)/((1/d1^p)+(1/d2^p)....)
  #https://gisgeography.com/inverse-distance-weighting-idw-interpolation/
  subset = df.filter(regex='distance_[0-9]+|SWE_[0-9]+')
  numerator = pd.DataFrame()
  denominator = pd.DataFrame()

  for i in range(int(subset.shape[1]/2)):
    numerator['x_'+str(i)]=subset['SWE_'+str(i)]/(subset['distance_'+str(i)]**power)
    denominator['x_'+str(i)]=1/(subset['distance_'+str(i)]**power)

  #There are cells without SWE data. We do not want this in the inverse Distance Calculation
  nulls = np.where(pd.isnull(numerator))
  for row,column in zip(nulls[0],nulls[1]):
    denominator.at[row, denominator.columns[column]] = np.nan
  
  numerator['sum']=numerator.sum(axis=1)
  #print(numerator.head())
  denominator['sum']=denominator.sum(axis=1)
  #print(denominator.head())

  return(numerator['sum']/denominator['sum'])

def swe_calculation(train, labels, closest_stations, knn=1):
  #Join labels with closest_stations
  labels_joined = labels.join(closest_stations)

  #Prepare column names
  SWE_names=[]
  elevation_names=[]
  reordered_columns = ['cell_id', 'date', 'SWE', 'region', 'geometry',
                       'mean_inversed_swe', 'mean_local_swe',	'median_local_swe',	'max_local_swe', 'min_local_swe',
                       'mean_local_elevation',	'median_local_elevation',	'max_local_elevation','min_local_elevation']
  for i in range(knn):
    reordered_columns.extend(['station_id_'+str(i),'elevation_m_'+str(i),'distance_'+str(i),'SWE_'+str(i)])
    SWE_names.append('SWE_'+str(i))
    elevation_names.append('elevation_m_'+str(i))
  
  #Merge against cell_id+date to get closest stations for each cell
  idx = 0
  for i in range(knn*3):
    train
    if i == 0:
      tmp_merged = pd.merge(labels_joined, train, how="left", left_on=['station_id_'+str(i), 'date'], right_on=['station_id','date'],suffixes=(None,'_'+str(i))).drop(columns= ['station_id'])
    else:
      tmp_merged = pd.merge(tmp_merged, train, how="left", left_on=['station_id_'+str(i), 'date'], right_on=['station_id','date'],suffixes=(None,'_'+str(i))).drop(columns= ['station_id'])

  #Filter out nearest neighbors with NaN, get 5 closest WITH VALUES
  filtered = []
  for idx,row in tmp_merged.iterrows():
    index = []
    values = []
    i=0
    counter=0
    while i<knn:
      if not pd.isna(row['SWE_'+str(counter)]):
        i+=1
        index.append(counter)
      counter+=1
    for j in index:
      values.extend([row['station_id_'+str(j)], row['elevation_m_'+str(j)], row['distance_'+str(j)], row['SWE_'+str(j)]])
    filtered.append(values)

  #Re-merge with cell data
  merged_train = labels.join(pd.DataFrame(filtered,columns=reordered_columns[-4*knn:]))

  #Calculations
  #Elevations
  # Normal Mean
  merged_train['mean_local_elevation']=merged_train[elevation_names].mean(axis=1)
  # Median
  merged_train['median_local_elevation']=merged_train[elevation_names].median(axis=1)
  # Max
  merged_train['max_local_elevation']=merged_train[elevation_names].max(axis=1)
  # Min
  merged_train['min_local_elevation']=merged_train[elevation_names].min(axis=1)

  #SWE
  #Inverse Distance Mean
  merged_train['mean_inversed_swe']=inverseDmean(merged_train,2)
  #Normal Mean
  merged_train['mean_local_swe']=merged_train[SWE_names].mean(axis=1)
  #Median
  merged_train['median_local_swe']=merged_train[SWE_names].median(axis=1)
  #Min
  merged_train['min_local_swe']=merged_train[SWE_names].min(axis=1)
  #Max
  merged_train['max_local_swe']=merged_train[SWE_names].max(axis=1)

  #Reorder Columns
  merged_train=merged_train[reordered_columns]

  return(merged_train)

In [22]:
knn=5
#DO NOT want traindf.date or trainfeatures in datetime format

closest_stations = nearest_neighbor(traindf, gdf, return_dist=True,knn=knn)
traindf = swe_calculation(train=trainfeatures, labels=traindf, closest_stations=closest_stations, knn=knn)

In [23]:
traindf.sample(frac = .1).head()

                                    cell_id  ...      SWE_4
67763  c89dc6ca-6d69-41ce-954d-b51f64aaacb1  ...   8.100000
10491  a2aa7379-4218-460b-9fff-9ec759094d26  ...  25.214286
37494  28dad940-9168-4416-a6b5-d34c152cead0  ...   0.512857
56822  c92ccc48-c5fb-49c9-9cc6-cb55134b4a03  ...  22.721429
29209  6f764077-3026-4444-ba75-35904973589f  ...   3.657143

[5 rows x 34 columns]

In [24]:
traindf = traindf[['cell_id','date','SWE','region','geometry','mean_inversed_swe',
                   'mean_local_swe','median_local_swe','max_local_swe','min_local_swe',
                   'mean_local_elevation','median_local_elevation','max_local_elevation','min_local_elevation',]]
                   
print(traindf.isna().sum())

cell_id                   0
date                      0
SWE                       0
region                    0
geometry                  0
mean_inversed_swe         0
mean_local_swe            0
median_local_swe          0
max_local_swe             0
min_local_swe             0
mean_local_elevation      0
median_local_elevation    0
max_local_elevation       0
min_local_elevation       0
dtype: int64

# Modis Data

## Environment Setup

In [25]:
import shutil
import os
import requests
import ee
from datetime import datetime, timedelta
import signal

class TimeoutException(Exception):   # Custom exception class
    pass

def timeout_handler(signum, frame):   # Custom signal handler
    raise TimeoutException

signal.signal(signal.SIGALRM, timeout_handler)

traindf["date"] = pd.to_datetime(traindf.date)
trainfeatures['date'] = pd.to_datetime(trainfeatures.date)

#I am creating a string version of the date to use as a filename
traindf["datestring"] = traindf.date.map(lambda d: str(d.year)+d.strftime('%j'))

#Now I calculate my centroid from the provided geometry
#Ignore the warnings this creates. It is in a projected crs
traindf["centroid"] = traindf.geometry.to_crs('+proj=cea').centroid
traindf["center_lat"] = traindf.centroid.y
traindf["center_long"] = traindf.centroid.x

#Logging in to Earth Engine
try:
        ee.Initialize()
except Exception as e:
        ee.Authenticate()
        ee.Initialize()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:25: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:26: UserWarning: Geometry is in a geographic CRS. Results from 'centroid' are likely incorrect. Use 'GeoSeries.to_crs()' to re-project geometries to a projected CRS before this operation.

In [26]:
'''
def pull_MODIS(traindf, modis, overwrite = False, names_only = False):
  filelocations = []
  x = 0

  for i in range(len(traindf.SWE)):

    #create a name for the image
    pict_name = traindf.cell_id[i] + '_' + modis + '_' + traindf.datestring[i] + '.jpg'

    #create the whole filename with path to the correct folder
    filename = os.path.join('/content/', modis, pict_name)

    if names_only:
      filelocations.append(filename)
      x += 1
      if x % 5000 == 0:
        print(f'{x} files already exist')

    elif os.path.exists(filename) and not overwrite:
      filelocations.append(filename)
      x += 1
      if x % 5000 == 0:
        print(f'{x} files already exist')

    else:
      #We need a start date and an end date. Just like a regular python slice, 
      #the end date is not included, so by using a 1 day frame, I am actually limiting
      #the range to only the day in question
      start_date = traindf.date[i] - timedelta(days = 7)
      end_date = traindf.date[i] + timedelta(days = 1)

      #First I get the image collection from the MODIS data, filter it only to the days in question
      #and select my bands, then sort so the most recent day in the group is at the top
      Collection = ee.ImageCollection(f'MODIS/006/{modis}') \
                  .filter(ee.Filter.date(start_date, end_date)) \
                  .filter(ee.Filter.notNull(['system:index'])) \
                  .select(['NDSI_Snow_Cover', 'Snow_Albedo_Daily_Tile', 'NDSI']) \
                  .sort('system:index', False) 

      #I create a google earth images point based on the area centroid
      centroid = ee.Geometry.Point(traindf.center_long[i], traindf.center_lat[i])

      #Because the image collection is limited to a single day, there is only one image
      #So I just take it
      point = Collection.first().unmask(0)

      # Get individual band arrays and build them into an RGB image
      # The "buffer" is a circular distance around the point, measured in meters right now it is 100km
      rgb = ee.Image.rgb(point.clip(centroid.buffer(10000)).select('NDSI_Snow_Cover').divide(100), #I divide by 100 to get it between 0 and 1
                        point.clip(centroid.buffer(10000)).select('Snow_Albedo_Daily_Tile').divide(100), #I divide by 100 to get it between 0 and 1
                        point.clip(centroid.buffer(10000)).select('NDSI').divide(10000)).visualize() #I divide by 10000 to get it between 0 and 1

      #Now I get the url for the image
      url = rgb.getThumbURL()

      #add the name to my list I created earlier
      filelocations.append(filename)

      #now I open the url and download the image to the specified file location
      response = requests.get(url, stream=True)
      with open(filename, 'wb') as out_file:
          shutil.copyfileobj(response.raw, out_file)
      del response
    
  #traindf[f"{modis}_filelocations"] = filelocations
'''

'\ndef pull_MODIS(traindf, modis, overwrite = False, names_only = False):\n  filelocations = []\n  x = 0\n\n  for i in range(len(traindf.SWE)):\n\n    #create a name for the image\n    pict_name = traindf.cell_id[i] + \'_\' + modis + \'_\' + traindf.datestring[i] + \'.jpg\'\n\n    #create the whole filename with path to the correct folder\n    filename = os.path.join(\'/content/\', modis, pict_name)\n\n    if names_only:\n      filelocations.append(filename)\n      x += 1\n      if x % 5000 == 0:\n        print(f\'{x} files already exist\')\n\n    elif os.path.exists(filename) and not overwrite:\n      filelocations.append(filename)\n      x += 1\n      if x % 5000 == 0:\n        print(f\'{x} files already exist\')\n\n    else:\n      #We need a start date and an end date. Just like a regular python slice, \n      #the end date is not included, so by using a 1 day frame, I am actually limiting\n      #the range to only the day in question\n      start_date = traindf.date[i] - timedelta(days = 7)\n      end_date = traindf.date[i] + timedelta(days = 1)\n\n      #First I get the image collection from the MODIS data, filter it only to the days in question\n      #and select my bands, then sort so the most recent day in the group is at the top\n      Collection = ee.ImageCollection(f\'MODIS/006/{modis}\')                   .filter(ee.Filter.date(start_date, end_date))                   .filter(ee.Filter.notNull([\'system:index\']))                   .select([\'NDSI_Snow_Cover\', \'Snow_Albedo_Daily_Tile\', \'NDSI\'])                   .sort(\'system:index\', False) \n\n      #I create a google earth images point based on the area centroid\n      centroid = ee.Geometry.Point(traindf.center_long[i], traindf.center_lat[i])\n\n      #Because the image collection is limited to a single day, there is only one image\n      #So I just take it\n      point = Collection.first().unmask(0)\n\n      # Get individual band arrays and build them into an RGB image\n      # The "buffer" is a circular distance around the point, measured in meters right now it is 100km\n      rgb = ee.Image.rgb(point.clip(centroid.buffer(10000)).select(\'NDSI_Snow_Cover\').divide(100), #I divide by 100 to get it between 0 and 1\n                        point.clip(centroid.buffer(10000)).select(\'Snow_Albedo_Daily_Tile\').divide(100), #I divide by 100 to get it between 0 and 1\n                        point.clip(centroid.buffer(10000)).select(\'NDSI\').divide(10000)).visualize() #I divide by 10000 to get it between 0 and 1\n\n      #Now I get the url for the image\n      url = rgb.getThumbURL()\n\n      #add the name to my list I created earlier\n      filelocations.append(filename)\n\n      #now I open the url and download the image to the specified file location\n      response = requests.get(url, stream=True)\n      with open(filename, \'wb\') as out_file:\n          shutil.copyfileobj(response.raw, out_file)\n      del response\n    \n  #traindf[f"{modis}_filelocations"] = filelocations\n'

In [27]:
def pull_MODIS_list(traindf, modis, signal_timer = 5):
  datalist = []
  x= 0

  still_working = True
  while still_working:
    try:
      Collection = ee.ImageCollection(f'MODIS/006/{modis}') \
                  .select(['NDSI_Snow_Cover', 'Snow_Albedo_Daily_Tile', 'NDSI'])
      
    except Exception as e:
      print("Some Error with Image Collection")
    else: 
      still_working = False        
  

  for i in range(len(traindf.SWE)):
    still_working = True
    while still_working:
      signal.alarm(signal_timer)
      try:
        row = [traindf.cell_id[i], traindf.date[i]]

        #We need a start date and an end date. Just like a regular python slice, 
        #the end date is not included, so by using a 1 day frame, I am actually limiting
        #the range to only the day in question
        start_date = traindf.date[i] - timedelta(days = 7)
        end_date = traindf.date[i] + timedelta(days = 1)

        #First I get the image collection from the MODIS data, filter it only to the days in question
        #and select my bands, then sort so the most recent day in the group is at the top
        DatedCollection = Collection.filter(ee.Filter.date(start_date, end_date)) \
                                    .filter(ee.Filter.notNull(['system:index'])) \
                                    .sort('system:index', False)

        #Because the image collection is limited to a single day, there is only one image
        #So I just take it
        point = DatedCollection.first().unmask(0)

        aoi = ee.Geometry.Polygon(list(traindf.iloc[i].geometry.exterior.coords))

        bands = point.reduceRegion(reducer = ee.Reducer.mean(),
        geometry= aoi)

        bands = bands.toArray(['NDSI_Snow_Cover', 'Snow_Albedo_Daily_Tile', 'NDSI']).getInfo()
        bands = np.divide(bands, [100,100,10000] )

        row.extend(bands)

        datalist.append(row)
      
      except TimeoutException:
        print(f"Request Timeout for cell_id {traindf.cell_id[i]}")
      
      except Exception as e:
        print("Some other Error")
      else: 
        signal.alarm(0)
        still_working = False
        x+=1
        if x % 100 == 0:
          print(f'{x} out of {len(traindf.SWE)} complete')

  data = pd.DataFrame(datalist, columns = ['cell_id', 'date', f'{modis}_SnowCover', 
                                           f'{modis}_Albedo', f'{modis}_NDSI'])
  print(data)
  traindf.merge(data, how = 'left', on=['cell_id', 'date'])
  return traindf

In [28]:
import time

In [ ]:
start = time.time()
traindf = pull_MODIS_list(traindf, modis = "MOD10A1")
print(f'Total Time: {time.time() - start}')
print()

start = time.time()
traindf = pull_MODIS_list(traindf, modis = "MYD10A1")
print(f'Total Time: {time.time() - start}')


#!zip -r '/content/drive/MyDrive/snowcapstone team spring 2022/MODIS_Data/MOD10A1_sierras.zip'  '/content/drive/MyDrive/snowcapstone team spring 2022/MODIS_Data/MOD10A1/'
#!zip -r '/content/drive/MyDrive/snowcapstone team spring 2022/MODIS_Data/MYD10A1_sierras.zip'  '/content/drive/MyDrive/snowcapstone team spring 2022/MODIS_Data/MYD10A1/'

100 out of 68670 complete
200 out of 68670 complete
300 out of 68670 complete
400 out of 68670 complete
500 out of 68670 complete
600 out of 68670 complete
700 out of 68670 complete
800 out of 68670 complete
900 out of 68670 complete
1000 out of 68670 complete
1100 out of 68670 complete
1200 out of 68670 complete
1300 out of 68670 complete
1400 out of 68670 complete
1500 out of 68670 complete
1600 out of 68670 complete
1700 out of 68670 complete
1800 out of 68670 complete
1900 out of 68670 complete
2000 out of 68670 complete
2100 out of 68670 complete
2200 out of 68670 complete
2300 out of 68670 complete
2400 out of 68670 complete
2500 out of 68670 complete
2600 out of 68670 complete
2700 out of 68670 complete
2800 out of 68670 complete
2900 out of 68670 complete
3000 out of 68670 complete
3100 out of 68670 complete
3200 out of 68670 complete
3300 out of 68670 complete
3400 out of 68670 complete
3500 out of 68670 complete
3600 out of 68670 complete
3700 out of 68670 complete
3800 out of 68670 complete
3900 out of 68670 complete
4000 out of 68670 complete
4100 out of 68670 complete
4200 out of 68670 complete
4300 out of 68670 complete
4400 out of 68670 complete
4500 out of 68670 complete
4600 out of 68670 complete
4700 out of 68670 complete
4800 out of 68670 complete
4900 out of 68670 complete
5000 out of 68670 complete
5100 out of 68670 complete
5200 out of 68670 complete
5300 out of 68670 complete
5400 out of 68670 complete
5500 out of 68670 complete
5600 out of 68670 complete
5700 out of 68670 complete
5800 out of 68670 complete
5900 out of 68670 complete
6000 out of 68670 complete
6100 out of 68670 complete
6200 out of 68670 complete
6300 out of 68670 complete
6400 out of 68670 complete
6500 out of 68670 complete
6600 out of 68670 complete
6700 out of 68670 complete
6800 out of 68670 complete
6900 out of 68670 complete
7000 out of 68670 complete
7100 out of 68670 complete
7200 out of 68670 complete
7300 out of 68670 complete
7400 out of 68670 complete
7500 out of 68670 complete
7600 out of 68670 complete
7700 out of 68670 complete
7800 out of 68670 complete
7900 out of 68670 complete
8000 out of 68670 complete
8100 out of 68670 complete
8200 out of 68670 complete
8300 out of 68670 complete
8400 out of 68670 complete
8500 out of 68670 complete
8600 out of 68670 complete
8700 out of 68670 complete
8800 out of 68670 complete
8900 out of 68670 complete
9000 out of 68670 complete
9100 out of 68670 complete
9200 out of 68670 complete
9300 out of 68670 complete
9400 out of 68670 complete
9500 out of 68670 complete
9600 out of 68670 complete
9700 out of 68670 complete
9800 out of 68670 complete
9900 out of 68670 complete
10000 out of 68670 complete
10100 out of 68670 complete
10200 out of 68670 complete
10300 out of 68670 complete
10400 out of 68670 complete
10500 out of 68670 complete
10600 out of 68670 complete
10700 out of 68670 complete
10800 out of 68670 complete
10900 out of 68670 complete
11000 out of 68670 complete
11100 out of 68670 complete
11200 out of 68670 complete
11300 out of 68670 complete
11400 out of 68670 complete
11500 out of 68670 complete
11600 out of 68670 complete
11700 out of 68670 complete
11800 out of 68670 complete
11900 out of 68670 complete
12000 out of 68670 complete
12100 out of 68670 complete
12200 out of 68670 complete
12300 out of 68670 complete
12400 out of 68670 complete
12500 out of 68670 complete
12600 out of 68670 complete
12700 out of 68670 complete
12800 out of 68670 complete
12900 out of 68670 complete
13000 out of 68670 complete
13100 out of 68670 complete
13200 out of 68670 complete
13300 out of 68670 complete
13400 out of 68670 complete
13500 out of 68670 complete
13600 out of 68670 complete
13700 out of 68670 complete
13800 out of 68670 complete
13900 out of 68670 complete
14000 out of 68670 complete
14100 out of 68670 complete
14200 out of 68670 complete
14300 out of 68670 complete
14400 out of 68670 complete
14500 out of 68670 complete
14600 out of 68670 complete
14700 out of 68670 complete
14800 out of 68670 complete
14900 out of 68670 complete
15000 out of 68670 complete
15100 out of 68670 complete
15200 out of 68670 complete
15300 out of 68670 complete
15400 out of 68670 complete
15500 out of 68670 complete
15600 out of 68670 complete
15700 out of 68670 complete
15800 out of 68670 complete
15900 out of 68670 complete
16000 out of 68670 complete
16100 out of 68670 complete
16200 out of 68670 complete
16300 out of 68670 complete
16400 out of 68670 complete
16500 out of 68670 complete
16600 out of 68670 complete
16700 out of 68670 complete
16800 out of 68670 complete
16900 out of 68670 complete
17000 out of 68670 complete
17100 out of 68670 complete
17200 out of 68670 complete
17300 out of 68670 complete
17400 out of 68670 complete
17500 out of 68670 complete
17600 out of 68670 complete
17700 out of 68670 complete
17800 out of 68670 complete
17900 out of 68670 complete
18000 out of 68670 complete
18100 out of 68670 complete
18200 out of 68670 complete
18300 out of 68670 complete
18400 out of 68670 complete
18500 out of 68670 complete
18600 out of 68670 complete
18700 out of 68670 complete
18800 out of 68670 complete
18900 out of 68670 complete
19000 out of 68670 complete
19100 out of 68670 complete
19200 out of 68670 complete
19300 out of 68670 complete
19400 out of 68670 complete
19500 out of 68670 complete
19600 out of 68670 complete
19700 out of 68670 complete
19800 out of 68670 complete
19900 out of 68670 complete
20000 out of 68670 complete
20100 out of 68670 complete
20200 out of 68670 complete
20300 out of 68670 complete
20400 out of 68670 complete
20500 out of 68670 complete
20600 out of 68670 complete
20700 out of 68670 complete
20800 out of 68670 complete
20900 out of 68670 complete
21000 out of 68670 complete
21100 out of 68670 complete
21200 out of 68670 complete
21300 out of 68670 complete
21400 out of 68670 complete
21500 out of 68670 complete
21600 out of 68670 complete
21700 out of 68670 complete
21800 out of 68670 complete
21900 out of 68670 complete
22000 out of 68670 complete
22100 out of 68670 complete
22200 out of 68670 complete
22300 out of 68670 complete
22400 out of 68670 complete
22500 out of 68670 complete
22600 out of 68670 complete
22700 out of 68670 complete
22800 out of 68670 complete
22900 out of 68670 complete
23000 out of 68670 complete
23100 out of 68670 complete
23200 out of 68670 complete
23300 out of 68670 complete
Request Timeout for cell_id 8ca1aaab-07de-4532-a99f-4ab8bce2f862
23400 out of 68670 complete
23500 out of 68670 complete
23600 out of 68670 complete
23700 out of 68670 complete
23800 out of 68670 complete
23900 out of 68670 complete
24000 out of 68670 complete
24100 out of 68670 complete
24200 out of 68670 complete
24300 out of 68670 complete
24400 out of 68670 complete
24500 out of 68670 complete
24600 out of 68670 complete
24700 out of 68670 complete
24800 out of 68670 complete
24900 out of 68670 complete
25000 out of 68670 complete
25100 out of 68670 complete
25200 out of 68670 complete
25300 out of 68670 complete
25400 out of 68670 complete
25500 out of 68670 complete
25600 out of 68670 complete
25700 out of 68670 complete
25800 out of 68670 complete
25900 out of 68670 complete
26000 out of 68670 complete
26100 out of 68670 complete
26200 out of 68670 complete
26300 out of 68670 complete
26400 out of 68670 complete
26500 out of 68670 complete
26600 out of 68670 complete
26700 out of 68670 complete
26800 out of 68670 complete
26900 out of 68670 complete
27000 out of 68670 complete
27100 out of 68670 complete
27200 out of 68670 complete
27300 out of 68670 complete
27400 out of 68670 complete
27500 out of 68670 complete
27600 out of 68670 complete
27700 out of 68670 complete
27800 out of 68670 complete
27900 out of 68670 complete
28000 out of 68670 complete
28100 out of 68670 complete
28200 out of 68670 complete
28300 out of 68670 complete
28400 out of 68670 complete
28500 out of 68670 complete
28600 out of 68670 complete
28700 out of 68670 complete
28800 out of 68670 complete
28900 out of 68670 complete
29000 out of 68670 complete
29100 out of 68670 complete
29200 out of 68670 complete
29300 out of 68670 complete
29400 out of 68670 complete
29500 out of 68670 complete
29600 out of 68670 complete
29700 out of 68670 complete
29800 out of 68670 complete
29900 out of 68670 complete
30000 out of 68670 complete
30100 out of 68670 complete
30200 out of 68670 complete
30300 out of 68670 complete
30400 out of 68670 complete
30500 out of 68670 complete
30600 out of 68670 complete
30700 out of 68670 complete
30800 out of 68670 complete
30900 out of 68670 complete
31000 out of 68670 complete
31100 out of 68670 complete
31200 out of 68670 complete
31300 out of 68670 complete
31400 out of 68670 complete
31500 out of 68670 complete
31600 out of 68670 complete
31700 out of 68670 complete
31800 out of 68670 complete
31900 out of 68670 complete
32000 out of 68670 complete
32100 out of 68670 complete
32200 out of 68670 complete
32300 out of 68670 complete
32400 out of 68670 complete
32500 out of 68670 complete
32600 out of 68670 complete
32700 out of 68670 complete
32800 out of 68670 complete
32900 out of 68670 complete
33000 out of 68670 complete
33100 out of 68670 complete
33200 out of 68670 complete
33300 out of 68670 complete
33400 out of 68670 complete
33500 out of 68670 complete
Request Timeout for cell_id 1d90aa2a-9304-4884-953d-26f6fbc9d0d6
33600 out of 68670 complete
33700 out of 68670 complete
33800 out of 68670 complete
33900 out of 68670 complete
34000 out of 68670 complete
34100 out of 68670 complete
34200 out of 68670 complete
34300 out of 68670 complete
34400 out of 68670 complete
34500 out of 68670 complete
34600 out of 68670 complete
34700 out of 68670 complete
34800 out of 68670 complete
34900 out of 68670 complete
35000 out of 68670 complete
35100 out of 68670 complete
35200 out of 68670 complete
35300 out of 68670 complete
35400 out of 68670 complete
35500 out of 68670 complete
35600 out of 68670 complete
35700 out of 68670 complete
35800 out of 68670 complete
35900 out of 68670 complete
36000 out of 68670 complete
36100 out of 68670 complete
36200 out of 68670 complete
36300 out of 68670 complete
36400 out of 68670 complete
36500 out of 68670 complete
36600 out of 68670 complete
36700 out of 68670 complete
36800 out of 68670 complete
36900 out of 68670 complete
37000 out of 68670 complete
37100 out of 68670 complete
37200 out of 68670 complete
37300 out of 68670 complete
37400 out of 68670 complete
37500 out of 68670 complete
37600 out of 68670 complete
37700 out of 68670 complete
37800 out of 68670 complete
37900 out of 68670 complete
38000 out of 68670 complete
38100 out of 68670 complete
38200 out of 68670 complete
38300 out of 68670 complete
38400 out of 68670 complete
38500 out of 68670 complete
38600 out of 68670 complete
38700 out of 68670 complete
38800 out of 68670 complete
38900 out of 68670 complete
39000 out of 68670 complete
39100 out of 68670 complete
39200 out of 68670 complete
39300 out of 68670 complete
39400 out of 68670 complete
39500 out of 68670 complete
39600 out of 68670 complete
39700 out of 68670 complete
39800 out of 68670 complete
39900 out of 68670 complete
40000 out of 68670 complete
40100 out of 68670 complete
40200 out of 68670 complete
40300 out of 68670 complete
40400 out of 68670 complete
40500 out of 68670 complete
40600 out of 68670 complete
40700 out of 68670 complete
40800 out of 68670 complete
40900 out of 68670 complete
41000 out of 68670 complete
41100 out of 68670 complete
41200 out of 68670 complete
41300 out of 68670 complete

# Adding Copernicus Data

#MATCH FUNCTION

In [ ]:
def get_copernicus(traindf, overwrite = False, signal_timer =5):
  start = time.time()
  traindf["copernicus_filelocations"] = "blank"
  x = 0
  length_cell_id = len(traindf.cell_id.unique())

  still_working = True
  while still_working:
    try:
      client = Client.open(
      "https://planetarycomputer.microsoft.com/api/stac/v1",
      ignore_conformance=True,
      )
  
    except Exception as e:
      print("Some Error with Image Collection")
    else: 
      still_working = False  

  for i in traindf.cell_id.unique():
    if x % 100 == 1:
      start = time.time()

    still_working = True
    while still_working:
      signal.alarm(signal_timer)
      try:
        #create a name for the image
        pict_name = i + '_' + 'copernicus30m'

        #create the whole filename with path to the correct folder
        filename = os.path.join('/content/Copernicus_Data', pict_name)

        # Adapted from https://planetarycomputer.microsoft.com/dataset/cop-dem-glo-90#Example-Notebook :
        
        if not os.path.exists(filename + '.png') or overwrite:
          area_of_interest = {
          "type": "Polygon",
          "coordinates": [list(traindf.loc[traindf.cell_id == i].iloc[0].geometry.exterior.coords)],
          }

          bbox = rasterio.features.bounds(area_of_interest)
          search = client.search(
              collections=["cop-dem-glo-30"],
              bbox = bbox,
          )

          
          items = list(search.get_items())

          signed_asset = planetary_computer.sign(items[0].assets["data"])
          
          data = (
              xarray.open_rasterio(signed_asset.href)
              .squeeze()
              .drop("band")
          )


          min_lon = traindf.loc[traindf.cell_id == i].iloc[0].geometry.bounds[0]
          min_lat = traindf.loc[traindf.cell_id == i].iloc[0].geometry.bounds[1]
          max_lon = traindf.loc[traindf.cell_id == i].iloc[0].geometry.bounds[2]
          max_lat = traindf.loc[traindf.cell_id == i].iloc[0].geometry.bounds[3]

          mask_lon = (data.x >= min_lon) & (data.x <= max_lon)
          mask_lat = (data.y >= min_lat) & (data.y <= max_lat)


          cropped_data = data.where(mask_lon & mask_lat, drop=True)

          #hillshade = xrspatial.hillshade(cropped_data)
          img = stack(shade(cropped_data, cmap="red"), 
                      shade(xrspatial.slope(cropped_data), cmap="blue"),
                      shade(xrspatial.aspect(cropped_data), cmap="green"))
          
          export_image(img=img, filename=filename, background=None)
      
      except TimeoutException:
          print(f"Request Timeout for cell_id {traindf.cell_id[i]}")
        
      except Exception as e:
        print("Some other Error")
      else: 
        signal.alarm(0)
        still_working = False

        traindf.loc[traindf.cell_id == i, "copernicus_filelocations"] = filename + '.png'
        if x % 100 == 0:
          print(f'{x} out of {length_cell_id} complete')
          print(f'Iteration Time: {time.time() - start}')
        x += 1
  
  print("Zipping")
  shutil.make_archive("new_copernicus", 'zip', '/content/Copernicus_Data')
  print("Zipping Complete, Copying")
  shutil.copy("new_copernicus.zip", "/content/drive/MyDrive/snowcapstone team spring 2022/Copernicus_Data/new_copernicus.zip")

In [ ]:
get_copernicus(traindf, False)

In [ ]:
traindf = traindf.drop(["region", 'geometry', 'datestring', 'centroid', 'center_lat', 'center_long'], axis = 1)
traindf.head()

In [ ]:
pd.DataFrame(traindf).to_csv('/content/drive/MyDrive/snowcapstone team spring 2022/Modeling/traindf_modis_columns_allregions.csv')

In [ ]:
'''
#Potential Ideas:
#Include reverse distance interpolation.
#

def get_stations(df, num_stations = 5):
  #Returns the average SWE from the X closest measurement stations on the same day
  averages = []
  average_elevation = []
  median = []
  median_elevation = []
  max = []
  max_elevation = []
  #Calculating distance matrix
  dist1 = gpd.GeoDataFrame(geometry = df.geometry.unique(), crs = "EPSG:4326").to_crs('+proj=cea')
  dist2 = gpd.GeoDataFrame(geometry = trainmeta.geometry, crs = "EPSG:4326").to_crs('+proj=cea') 

  distmatrix = dist2.geometry.apply(lambda g: dist1.geometry.boundary.distance(g))
  distmatrix.set_axis(df.cell_id.unique(), axis = 1, inplace = True)
  distmatrix["station_id"] = trainmeta.station_id.unique()
  
  #for each row in the df
  for index, row in df.iterrows():
    station_dist =distmatrix[["station_id", row.cell_id]]

    start_date = row.date - timedelta(days = 7)
    end_date = row.date
    after_start_date = trainfeatures["date"] >= start_date
    before_end_date = trainfeatures["date"] <= end_date
    between_two_dates = after_start_date & before_end_date
    swes = trainfeatures.loc[between_two_dates]

    station_swe = station_dist.merge(swes, how = 'left', on='station_id')
    station_swe = station_swe[station_swe["SWE"].notna()]

    station_swe.sort_values(by = [row.cell_id, "date"], inplace = True)

    #This is where interpolation can happen

    averages.append(station_swe.head(num_stations).SWE.mean())
    average_elevation.append(station_swe.head(num_stations).elevation_m.mean())
    median.append(station_swe.head(num_stations).SWE.median())
    median_elevation.append(station_swe.head(num_stations).elevation_m.median())
    max.append(station_swe.head(num_stations).SWE.max())
    max_elevation.append(station_swe.head(num_stations).elevation_m.max())

  #return averages, median, max, average_elevation, median_elevation, max_elevation
  return averages, average_elevation, median, median_elevation, max, max_elevation
  '''

In [ ]:
'''
#Turns off a bunch of errors
pd.options.mode.chained_assignment = None  # default='warn'

averages, average_elevation, median, median_elevation, max, max_elevation = get_stations(traindf)

pd.options.mode.chained_assignment = 'warn'
'''

In [ ]:
'''
traindf["mean_local_swe"] = averages
traindf["median_local_swe"] = median
traindf["max_local_swe"] = max
traindf["mean_local_elevation"] = average_elevation
traindf["median_local_elevation"] = median_elevation
traindf["max_local_elevation"] = max_elevation

print(traindf.isna().sum())
'''

# Ingesting Sentinel 2 Data

## Pulling in Data by date/1k square and saving as .tiff format

In [ ]:
## Test that ee connection is still live
try:
        ee.Initialize()
except Exception as e:
        ee.Authenticate()
        ee.Initialize()

In [ ]:
## Import additional packages (check for duplicates)
import pickle
import time
import math
import requests, zipfile, io
from IPython.display import Image

### Defining Image Collection

Define image selection to Copernicus/S2 or Sentinel 2 data. 

Available bands and resolution here: https://gisgeography.com/sentinel-2-bands-combinations/

The following visualizations are the most applicable to our study:

Geology: Bands B12, B11, B2
Vegetation: B8-B4/B8+B4

Starting with focus on geology bands, this pulls in the B12(R), B11(G), B4(B)

B12 and B11 are at 20m resolution, and B4 is at 10m resolution

### Sentinel 2

In [ ]:
#defining image
sen2 = ee.ImageCollection("COPERNICUS/S2").filterDate(startDate, endDate) 

#selecting bands
sen2 = sen2.select(["B12","B11","B2"])

### Sentinel 1

In [ ]:
#defining image

sen1 = ee.ImageCollection("COPERNICUS/S1_GRD").filterDate(startDate, endDate) 

#selecting bands
sen1_A = sen1.select(["HH","HV","angle"])
sen1_B = sen1.select(["VV", "VH", "angle"])

## Function to define image download

Create a funciton to download imagery. Takes the centroid from above and size input and pulls images into google drive. 

Len = total size of image in meters computed as the resolution of the image bands being pulled in, and the number of pixels we want to capture total (224x224). Then create bounding box around the circle to get a square.

In [ ]:
def image_download(image,point,image_res,n_pixels,folder_name, image_name, storage="Drive"):
    
    """
    Function to download satellite images from a ee.imageCollection object.
    We first generate a bounding box of image_res*n_pixels meters around "point",
    then we clip that region from the image collection, take the mean image from the collection,
    and send that as a task to the Google Earth Engine. 
    After that, we download the image Google Cloud Storage if storage=="Cloud", 
    to Google Drive if storage=="Drive" or to a local folder if storage=="local".
    
    Inputs:
    -image= ee.ImageCollection object
    -point= ee.Geometry.Point object
    -image_res= resolution of the image in meters
    -n_pixels= number of pixels to extract on the images
    -storage= string indicating if we are storing the images in Google Cloud,Google Drive or locally.
              Defaults to local storage.
    -folder_name= string with Google Cloud bucket name if storage=="Cloud"
                  string with the name of a folder in the root of Google Drive if storage=="Drive"
                  string with the path to the image if storage=="local"
    -image_name= string with the image_name for the TIFF image.

    Output:
     When storage=="Drive":
     -task= an EE task object. we can then use task.status() to check the status of the task.
     If the task is completed, we will see a TIFF image in "folder_name" with name "image_name.tif".
     The image has 3 dimensions, where the first 2 are n_pixels, and the 3rd is the number of bands of "image".
     When storage=="local":
     -there is no output, but we will see one TIFF file per band of our image in the folder "folder_name".
    """
    #generating the box around the point
    len=image_res*n_pixels # for sen2, 20 meters * 224 pixels
    region= point.buffer(len/2).bounds().getInfo()['coordinates']
    #defining the rectangle
    coords=np.array(region)
    #taking min and maxs of coordinates to define the rectangle
    coords=[np.min(coords[:,:,0]), np.min(coords[:,:,1]), np.max(coords[:,:,0]), np.max(coords[:,:,1])]
    rectangle=ee.Geometry.Rectangle(coords)
    
    if storage=="Drive":
        #generating the export task (dimensions is "WIDTHxHEIGHT")
        task=ee.batch.Export.image.toDrive(image=image.filterBounds(rectangle).mean(), 
                            folder=folder_name, 
                            description=image_name, 
                            region=str(region), dimensions=str(n_pixels)+"x"+str(n_pixels))
        #starting the task
        task.start()
        return task
    
    if storage=="local":
        #downloading the image
        r=requests.get( image.filterBounds(rectangle).mean().getDownloadURL({
                            'name': image_name, 
                            'region': str(region),
                            'dimensions': str(n_pixels)+"x"+str(n_pixels)}))
        #unzip it to the selected directory
        z = zipfile.ZipFile(io.BytesIO(r.content))
        z.extractall(folder_name)

TEST

In [ ]:
#test image
test=ee.Geometry.Point(-120.61888999873261,39.675880337476684)

#running function
image_download(image=sen2,point=test,image_res=100,n_pixels=224,folder_name='Sen2_Tiff', image_name='test_image', storage="local")

In [ ]:
os.listdir('Sen2_Tiff')

Iterate over all of the dataframe

In [ ]:
traindf.head()

In [ ]:
for i in range(len(traindf)):

    #create a name for the image
    image_name = traindf.cell_id[i] + '_sentinel2_' + traindf.datestring[i] + '.jpg'

    
    startDate = traindf.date[i] - timedelta(days = 365)
    endDate = traindf.date[i] + timedelta(days = 1)
    year = startDate.year
    print(year)
    print(startDate)
    
      #defining image

    sen2 = ee.ImageCollection("COPERNICUS/S2")
      # filter date
    sen2 = sen2.filterDate(startDate, endDate) 
      #applying cloud masking
      #selecting bands
    sen2 = sen2.select(["B12","B11","B2"])
    
      #I create a google earth images point based on the area centroid
    centroid = ee.Geometry.Point(traindf.center_long[i], traindf.center_lat[i])
    print(centroid)
      
    image_download(image=sen2, point=centroid, image_res=20, n_pixels=224, folder_name='Sen2_Tiff', image_name='image_name', storage="local")

In [ ]:
for i in range(len(traindf)):

    #create a name for the image
    image_name = traindf.cell_id[i] + '_sentinel1a_' + traindf.datestring[i] + '.jpg'

    
    startDate = traindf.date[i] - timedelta(days = 7)
    endDate = traindf.date[i] + timedelta(days = 1)
    year = startDate.year
    print(year)
    print(startDate)
    

      #defining image

    sen1 = ee.ImageCollection("COPERNICUS/S1_GRD").filterDate(startDate, endDate) 

      #selecting bands
    sen1_A = sen1.select(["HH","HV","angle"])
      # filter date

    
      #I create a google earth images point based on the area centroid
    centroid = ee.Geometry.Point(traindf.center_long[i], traindf.center_lat[i]).buffer(10000)
    print(centroid)
      
    image_download(image=sen1_A, point=centroid, image_res=20, n_pixels=224, folder_name='Sen1a_Tiff', image_name='image_name', storage="local")

In [ ]:
for i in range(len(traindf)):

    #create a name for the image
    image_name = traindf.cell_id[i] + '_sentinel1b_' + traindf.datestring[i] + '.jpg'

    
    startDate = traindf.date[i] - timedelta(days = 7)
    endDate = traindf.date[i] + timedelta(days = 1)
    year = startDate.year
    print(year)
    print(startDate)
    


    sen1 = ee.ImageCollection("COPERNICUS/S1_GRD").filterDate(startDate, endDate) 

      #selecting bands
    sen1_B = sen1.select(["VV", "VH", "angle"])
      # filter date

    
      #I create a google earth images point based on the area centroid
    centroid = ee.Geometry.Point(traindf.center_long[i], traindf.center_lat[i])
    print(centroid)
      
    image_download(image=sen1_b, point=centroid, image_res=20, n_pixels=224, folder_name='Sen1b_Tiff', image_name='image_name', storage="local")

## Reading in .tiff images and loading max, min, medians to testdf

In [ ]:
def pull_SENT2(traindf, overwrite = False, names_only = False):
  filelocations = []
  x = 0

  for i in range(len(traindf.SWE)):

    #create a name for the image
    pict_name = traindf.cell_id[i] + '_sentinel2_' + traindf.datestring[i] + '.jpg'

    #create the whole filename with path to the correct folder
    filename = os.path.join('/content/drive/MyDrive/snowcapstone team spring 2022/Sen2_Tiff', pict_name)

    if names_only:
      filelocations.append(filename)
      x += 1
      if x % 5000 == 0:
        print(f'{x} files already exist')

    elif os.path.exists(filename) and not overwrite:
      filelocations.append(filename)
      x += 1
      if x % 5000 == 0:
        print(f'{x} files already exist')

    else:
      #We need a start date and an end date. Just like a regular python slice, 
      #the end date is not included, so by using a 1 day frame, I am actually limiting
      #the range to only the day in question
      start_date = traindf.date[i] - timedelta(days = 7)
      end_date = traindf.date[i] + timedelta(days = 1)

      #First I get the image collection from the MODIS data, filter it only to the days in question
      #and select my bands, then sort so the most recent day in the group is at the top
      Collection = ee.ImageCollection('COPERNICUS/S2') \
                  .filter(ee.Filter.date(start_date, end_date)) \
                  .select(['B11', 'B12', 'B2']) \

      #I create a google earth images point based on the area centroid
      centroid = ee.Geometry.Point(traindf.center_long[i], traindf.center_lat[i])

      #Because the image collection is limited to a single day, there is only one image
      #So I just take it
      point = Collection.first().unmask(0)

      # Get individual band arrays and build them into an RGB image
      # The "buffer" is a circular distance around the point, measured in meters right now it is 100km
      rgb = ee.Image.rgb(point.clip(centroid.buffer(10000)).select('B11'),
                        point.clip(centroid.buffer(10000)).select('B12'),
                        point.clip(centroid.buffer(10000)).select('B2'))

      #Now I get the url for the image
      url = rgb.getThumbURL({'min': -20, 'max': 0})

      #add the name to my list I created earlier
      filelocations.append(filename)

      #now I open the url and download the image to the specified file location
      response = requests.get(url, stream=True)
      with open(filename, 'wb') as out_file:
          shutil.copyfileobj(response.raw, out_file)
      del response
    
  traindf["Sentinel2_filelocations"] = filelocations

In [ ]:
pull_SENT2(traindf, overwrite = True)